#overlay {
    position: fixed;
    top: 0%;
    background: rgba(0, 0, 0, 0.73);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#main
{
    position: relative;
    z-index: 2;
}

#hammerAni
{
    height: 200px;
    width: 200px;
}
#caroPic
{
    height: 100px;
    width: 275px;
}


#bgVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }

